<h1>簡易ログイン画面</h1>
<%# form_withメソッドで、入力フォームを作成しています。 %>
<%= form_with url: sessions_index_path %>
名前:<%= text_field_tag :name %>
 
パスワード:<%= password_field_tag :password %>
 
<%= submit_tag 'ログイン' %>

<%= @notice %>
